.App {
  text-align: center;
}

.navbar {
  display: flex;
  justify-content: space-around;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}
.navbar .logo {
  font-size: 25px;
  padding: 15px;
}
.navbar .cart {
  position: relative;
}
.navbar .cart i {
  font-size: 25px;
  padding: 15px;
}
.navbar .cart .cart-num {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 5px;
  left: 33px;
  border: 1px solid black;
  border-radius: 50%;
  background-color: red;
  color: white;
  font-weight: bold;
  border: none;
}

.phones_wrapper {
  display: flex;
  margin: 50px;
}
.images {
  width: 150px;
}